<div class = "container">
  <div class = "page-header">


    <div class = "text-center times">
      <h1 class = "rockwell">The Editnator.</h1>
    </div>
    <br>
    <nav class="navbar navbar-inverse inner-pic">
      <div class="container">
      </div>
    </nav>

    <div class = "col-md-3">
      <div id='myPublisherDiv'></div>
      <div id='subscribersDiv'></div>

    <script src='//static.opentok.com/v2/js/opentok.min.js'></script> 
    <script> 
      var apiKey = '45203522';
      var sessionId = '2_MX40NTIwMzUyMn5-MTQyODQzNTgyMTAwMX5nM0dtZmpFMWx2VlpEUlZoNlBDQ2dLaTF-fg'; 
      var token = 'T1==cGFydG5lcl9pZD00NTIwMzUyMiZzaWc9YWRmNGFlY2QxNzI4ZWNjZTA5NGUwMjRhODIxOGUxYTc3NTU2OWEyNzpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0ME5USXdNelV5TW41LU1UUXlPRFF6TlRneU1UQXdNWDVuTTBkdFptcEZNV3gyVmxwRVVsWm9ObEJEUTJkTGFURi1mZyZjcmVhdGVfdGltZT0xNDQwMTE4OTAyJm5vbmNlPTAuMjg1MjQxMDg5NzkwMDE2NyZleHBpcmVfdGltZT0xNDQwMjA1MzAy';
      var session = OT.initSession(apiKey, sessionId); 
      session.on({ 
          streamCreated: function(event) { 
            session.subscribe(event.stream, 'subscribersDiv', {insertMode: 'append'}); 
          } 
      }); 
      session.connect(token, function(error) {
        if (error) {
          console.log(error.message);
        } else {
          session.publish('myPublisherDiv', {width: 320, height: 240}); 
        }
      });
    </script> 
    </div>

    <div class = "col-md-9 editnator">
      <iframe src="//meetingwords.com/5L2kVLzXmB" width="1000" height="800" scrolling="no" frameborder="0"></iframe>
    </div>

  </div>
</div>
