<div class = "container">
  <div class = "page-header">


    <div class = "text-center times">
      <h1 class = "rockwell">The Editnator.</h1>
    </div>
    <br>
    <nav class="navbar navbar-inverse inner-pic">
      <div class="container">
      </div>
    </nav>

    <div class = "col-md-3">
      <div id='myPublisherDiv'></div>
      <div id='subscribersDiv'></div>

      <script src='//static.opentok.com/v2/js/opentok.min.js'></script>
      <script>
      var apiKey = '45207062';
      var sessionId = '2_MX40NTIwNzA2Mn5-MTQyODY5MzYyMzk4NH5jR3hYR05ZU2ZiVUVhbnlVUmtrZjVzOVd-fg';
      var token = 'T1==cGFydG5lcl9pZD00NTIwNzA2MiZzaWc9MTI1YjNlZmNjZTZjZjg5NDQ5NmE5NmNmMTBmZWQ0NWEwMDEzMjczYjpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0ME5USXdOekEyTW41LU1UUXlPRFk1TXpZeU16azROSDVqUjNoWVIwNVpVMlppVlVWaGJubFZVbXRyWmpWek9WZC1mZyZjcmVhdGVfdGltZT0xNDI4NjkzNzAyJm5vbmNlPTAuOTUxNjY3OTcxMzEyMjYwMiZleHBpcmVfdGltZT0xNDI4NzgwMTAy';
      var session = OT.initSession(apiKey, sessionId);
      session.on({
        streamCreated: function(event) {
          session.subscribe(event.stream, 'subscribersDiv', {insertMode: 'append'});
        }
      });
      session.connect(token, function(error) {
        if (error) {
          console.log(error.message);
        } else {
          session.publish('myPublisherDiv', {width: 320, height: 240});
        }
      });
      </script>
    </div>

    <div class = "col-md-9 editnator">
      <iframe src="http://meetingwords.com/5L2kVLzXmB" width="1000" height="800" scrolling="no" frameborder="0"></iframe>
    </div>

  </div>
</div>
