<div class = "container">
  <div class = "page-header">

    <div class = "row">
      <div class = "pull-right">
        <h3><%= link_to "Load Whiteboard", "http://serene-meadow-5206.herokuapp.com/classrooms" %></h3>
      </div>
      <h1 class = "rockwell-g7">- G7 -</h1>
    </div>
    <hr></hr>


    <div class = "col-md-3">
      <div id='myPublisherDiv'></div>
      <div id='subscribersDiv'></div>

      <script src='//static.opentok.com/v2/js/opentok.min.js'></script>
      <script>
      var apiKey = '45207782';
      var sessionId = '2_MX40NTIwNzc4Mn5-MTQyODc5MDEwOTg0OH5GbXZZRElYa3VhUGt5OWF6cWR6ZEE5dEt-fg';
      var token = 'T1==cGFydG5lcl9pZD00NTIwNzc4MiZzaWc9NjFlZTZiMmM1ZmJhYmNjYzhkMTQ0YWMwNDgzZGViNjg4MDNlMDk0Njpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0ME5USXdOemM0TW41LU1UUXlPRGM1TURFd09UZzBPSDVHYlhaWlJFbFlhM1ZoVUd0NU9XRjZjV1I2WkVFNWRFdC1mZyZjcmVhdGVfdGltZT0xNDI4NzkwMjI5Jm5vbmNlPTAuNTgwMjAzODU2NjMxMzgzNyZleHBpcmVfdGltZT0xNDI4ODc2NjI5';
      var session = OT.initSession(apiKey, sessionId);
      session.on({
        streamCreated: function(event) {
          session.subscribe(event.stream, 'subscribersDiv', {insertMode: 'append'});
        }
      });
      session.connect(token, function(error) {
        if (error) {
          console.log(error.message);
        } else {
          session.publish('myPublisherDiv', {width: 320, height: 240});
        }
      });
      </script> 
    </div>

    <div class = "col-md-9 frame">
      <iframe src="//www.groupboard.com/board/421399?iframe=true" width="1000" height="800" scrolling="no" frameborder="0"></iframe>
    </div>

  </div>
</div>
