<div class = "container">
  <div class = "page-header">

    <div class = "text-center times">
      <h1 class = "rockwell">The Boardrooms.</h1>
    </div>
    <br>
    <nav class="navbar navbar-inverse inner-pic">
      <div class="container">
      </div>
    </nav>

<div class = "times rockwell-rooms text-center padding">
  <%= link_to "- The Scratchpadder. -", scratchpader_path, data: {confirm: "You are about to enter a live collaborative environment, people will be able to see and hear you!"}, class: "blk" %>
  <hr>
  <%= link_to "- The Editnator -", editnator_path, data: {confirm: "You are about to enter a live collaborative environment, people will be able to see and hear you!"}, class: "blk" %>
  <!-- <a href='http://whiteboard-rails.herokuapp.com/editnator' class='blk'>- The Editnator. -</a> -->
  <hr>
  <%= link_to "- The UMLatron. -", rooms_path, data: {confirm: "Under Construction - Sorry!"}, class: "blk" %>
  <hr>
  <%= link_to "- The Bored-room. -", boredroom_path, data: {confirm: "You are about to enter a live collaborative environment, people will be able to see and hear you!"}, class: "blk" %>
  <hr>
</div>

  </div>
</div>
