<div class = "container">
  <div class = "page-header">


    <div class = "text-center times">
      <h1 class = "rockwell">The Scratchpadder.</h1>
    </div>
    <br>
    <nav class="navbar navbar-inverse inner-pic">
      <div class="container">
      </div>
    </nav>


    <div class = "col-md-3">
      <div id='myPublisherDiv'></div>
      <div id='subscribersDiv'></div>

    <script src='//static.opentok.com/v2/js/opentok.min.js'></script> 
    <script> 
      var apiKey = '45324832';
      var sessionId = '2_MX40NTMyNDgzMn5-MTQ0NzgyMDY1OTAwNH41Sit1M0Q2ZFdFZUkzRmh2WWZlUjdxMG1-UH4'; 
      var token = 'T1==cGFydG5lcl9pZD00NTMyNDgzMiZzaWc9OTg0ZjQ5ZjQ0YzBhZWNjMmQ2ZTZmNDg1N2NlYWZhMjJkMDE3NDFmYTpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0ME5UTXlORGd6TW41LU1UUTBOemd5TURZMU9UQXdOSDQxU2l0MU0wUTJaRmRGWlVrelJtaDJXV1psVWpkeE1HMS1VSDQmY3JlYXRlX3RpbWU9MTQ0NzgyMDcxNSZub25jZT0wLjE0NTQ3NDAxNDMyODM5NjQ2JmV4cGlyZV90aW1lPTE0NTA0MTI2NDkmY29ubmVjdGlvbl9kYXRhPQ==';
      var session = OT.initSession(apiKey, sessionId); 
      session.on({ 
          streamCreated: function(event) { 
            session.subscribe(event.stream, 'subscribersDiv', {insertMode: 'append'}); 
          } 
      }); 
      session.connect(token, function(error) {
        if (error) {
          console.log(error.message);
        } else {
          session.publish('myPublisherDiv', {width: 320, height: 240}); 
        }
      });
    </script> 
    
    </div>

    <div class = "col-md-9">
      <iframe src="//www.groupboard.com/board/421399?iframe=true" width="1000" height="800" scrolling="no" frameborder="0"></iframe>
    </div>

  </div>
</div>
