<div class = "container">
  <div class = "page-header">


    <h1 class = "rockwell-rooms room-title"> The Scratchpader. </h1>



    <div class = "col-md-3">
      <div id='myPublisherDiv'></div>
      <div id='subscribersDiv'></div>

      <script src='//static.opentok.com/v2/js/opentok.min.js'></script>
      <script>
      var apiKey = '45207092';
      var sessionId = '2_MX40NTIwNzA5Mn5-MTQyODY5NDM0MzE0Mn5VRGd0MDhXZE5nQUgydzNkbXEwNTVLV3R-fg';
      var token = 'T1==cGFydG5lcl9pZD00NTIwNzA5MiZzaWc9ZDczNzY3MmJlY2M5Mzk4OTViY2MxMTVjNzNjN2M2YjNjNjI4ZDc1Nzpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0ME5USXdOekE1TW41LU1UUXlPRFk1TkRNME16RTBNbjVWUkdkME1EaFhaRTVuUVVneWR6TmtiWEV3TlRWTFYzUi1mZyZjcmVhdGVfdGltZT0xNDI4Njk0MzY5Jm5vbmNlPTAuMTIxODg3ODE5NTg5Njk0NTImZXhwaXJlX3RpbWU9MTQyODc4MDc2OQ==';
      var session = OT.initSession(apiKey, sessionId);
      session.on({
        streamCreated: function(event) {
          session.subscribe(event.stream, 'subscribersDiv', {insertMode: 'append'});
        }
      });
      session.connect(token, function(error) {
        if (error) {
          console.log(error.message);
        } else {
          session.publish('myPublisherDiv', {width: 320, height: 240});
        }
      });
      </script>
    </div>

    <div class = "col-md-9 frame">
      <iframe src="//www.groupboard.com/board/421399?iframe=true" width="1000" height="800" scrolling="no" frameborder="0"></iframe>
    </div>

  </div>
</div>
