.pad-bottom{
  padding-bottom: 30px;
}
.pad2{
  padding-left: 2%; 
}
.pad5{
  padding-left: 5%;
}
.pad10{
  padding-left: 10%;

}
.col-left-space{
  width: 4%;
  float: left;
  border: 1px solid transparent;

}
.col-half{
  /*width: 5%;*/
  width: 4.9%;
  float: left;
  /*border: 1px solid red;*/
}
.col-1{
  /*width: 8.33333%;*/
  width: 8.3%;
  float: left;
/*border: 1px solid red;*/
}
.col-15{
  /*width: 8.33333%;*/
  width: 7%;
  float: left;
/*border: 1px solid red;*/
}
.col-16{
  /*width: 8.33333%;*/
  width: 12%;
  float: left;
/*border: 1px solid red;*/
}
.col-17{
  /*width: 8.33333%;*/
  width: 16%;
  float: left;
/*border: 1px solid red;*/
}
.col-2{
  /*width: 16.66666%;*/
  width: 16.6%;
  float: left;
  /*border: 1px solid;*/
}
.col-25{
  /*width: 20%;*/
  width: 19.9%;
  float: left;
  /*border: 1px solid red;*/
}
.col-26{
  /*width: 20%;*/
  width: 21%;
  float: left;
  /*border: 1px solid red;*/
}
.col-27{
  /*width: 20%;*/
  width: 23%;
  float: left;
  /*border: 1px solid red;*/
}
.col-3{
  /*width: 25%;*/
  width: 24.9%;
  float: left;
  border: 1px solid transparent;
}
.col-33{
  width: 20.9%;
  float: left;
  border: 1px solid transparent;

}
.col-35{
  /*width: 30%;*/
  width: 29.9%;
  float: left;
  /*border: 1px solid red;*/
}
.col-36{
  /*width: 30%;*/
  width: 28.5%;
  float: left;
  /*border: 1px solid red;*/
}
.col-30{
  /*width: 26.6%;*/
  width: 26.45%;
  float: left;
  /*border: 1px solid red;*/
}
.col-4{
  /*width: 33.33333%;*/
  width: 33.3%;
  float: left;
  /*border: 1px solid red;*/
}
.col-5{
  /*width: 41.66666%;*/
  width: 41.6%;
  float: left;
  /*border: 1px solid red;*/
}
.col-6{
  width: 50.00%;
  float: left;
/*border: 1px solid red;*/
}
.col-7{
  width: 58.33333%;
  float: left;
/*border: 1px solid red;*/
}
.col-75{
  width: 65%;
  float: left;
/*border: 1px solid red;*/
}
.col-7minus{
  width: 54.5%;
  float: left;
/*border: 1px solid red;*/
}
.col-8{
  width: 66.66666%;
  float: left;
/*border: 1px solid red;*/
}
.col-9{
  /*width: 75.00%;*/
  width: 74.65%;
  float: left;
/*border: 1px solid red;*/
}
.col-10{
  width: 83.33333%;
  float: left;
/*border: 1px solid red;*/
}
.col-11{
  width: 91.66666%;
  float: left;
/*border: 1px solid red;*/
}
.col-12{
  width: 100.00%;
  height: 500px;
  float: left;
  /*border: 1px solid red;*/
}
